[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
line-bot-sdk = "*"
quandl = "*"
python-dotenv = "*"
yahoo-finance-api2 = "*"

[requires]
python_version = "3.6"

[scripts]
exec = "pipenv run python -m app"
